%content-container {
    padding: 15px;
    position: relative;
    border: 1px solid #ededed;
    border-radius: 5px;
    background: #fff;

    &:after {
        content: '';
        clear: both;
        display: block;
    }

    .pagin {
        float: right;
        margin-top: 15px;
    }
}

//右上角按钮的容器样式
%right-top-btnContainer{
    position: absolute;
    right: 0;
    top: -50px;
}