%top-search-container {
    > section {
        display: inline-block;
        margin-right: 10px;

        > span, i {
            display: inline-block;
            margin-right: 2px;
        }
    }

    .el-input {
        width: auto;
    }
}