{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
  ],
  "plugins": [
    [
      "component",
      [
        {
          "libraryName": "element-ui",
          "styleLibraryName": "~theme"
        }
      ]
    ],
    "transform-vue-jsx",
    "transform-runtime",
  ]
}
